html {
    scroll-behavior: smooth;
    transition: scroll-behavior 0.5s ease;
}

body {
    margin: 0 auto;
    background-color: #1A191E;
    font-family: "Raleway", sans-serif;
    width: 100%;
    overflow-x: hidden;
}

section {
    height: 100vh;
    position: relative; 
    z-index: 1;
}

.background-canvas {
    position: absolute;
    width: 100%;
    height: 100vh; 
    z-index: -1; 
}


/* header */

header.header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #141B25;
    z-index: 10;
}

header.header img {
    width: 70px;
    padding: 10px;
    margin-left: 25px;
}

section.top-page {
    background: linear-gradient(#141B25, #1A191E);
    background-size: cover;
    width: 100%;
    position: relative;

}

section.top-page > :not(header.header) {
    padding: 25px;
}


/* menu de nav */
.navbar ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 15px;
    display: block; 
}

/* Accueil */

.big-title {
    color: white;
    font-size: 80px;
    text-align: center;
    margin: 90px 3% 3% 3%;
    font-family: "Raleway", sans-serif;
}

div.separateur {
    height: 1px;
    width: 150px;
    background-color: white;
    position: relative;
    left: 50%;
    margin-left: -75px;
}

.landing-page p {
    color: white;
    font-size: 23px;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 0;
}

.scroll-arrow img {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
}

/* Profil */

.profil {
    display: flex;
    justify-content: space-between;
    position: relative; 
}


.profil::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    background-image: url(../medias/code.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto, 100vh;
    opacity: 0.1; 
    z-index: -1; 
}

.aboutme, .formation {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 2%;
}

.aboutme p {
    font-size: 25px;
}

.profil h1 {
    text-align: center;
}

.profil h1, .profil p {
    color: white;
}

.formation img {
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.formation .bouton {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    width: 100%;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    text-align: center;
    background-color: #420D79;
    color: white;
    margin-bottom: 10px;
    font-family: "Orbitron", "Raleway", sans-serif;
    border-radius: 30px;
}

.formation .bouton:hover {
    background-color: #511097;
}

.formation-content {
    display: none;
    margin-bottom: 30px;
    background-color: #241C41;
    width: 100%;
    height: 100px;
    border-radius: 10px;
}

.text-formation-content {
    display: flex;
    margin-top: 7px;
    justify-content: space-between;
}

.text-formation-content p {
    margin-top: 5px;
    padding: 10px;

    font-size: 15px;
    
}

.elmt-btn span {
    margin: 30px;
}

section.profil {
    height: 55vh;

}

/* skills */

section.skills {
    height: 50vh;
    background: linear-gradient(to bottom, #1A191E, rgb(23, 23, 23));

}

.skills h1 {
    margin-bottom: 3rem;
    text-align: center;
    color: white;
    font-size: 30px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-right: 100px;
    margin-left: 100px;
}
  
.skill-card {
    display: flex;
    color: white;
    background-color: #201f25;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 15px;
    font-weight: bold;
    transition: transform 0.3s ease;
    align-items: center;
    justify-content: flex-start; 
    gap: 30%;
}
  
.skill-card:hover {
    transform: scale(1.1);
}

.skill-card img {
    width: 50px;
}
